body{
  background: #696969  ;
  font-family: "Helvetica Neue";
  text-align: center;
  width:1000px; 
  height: 1000px;
}

h1{
  font-family:  "Helvetica Neue";
  font-size: 50px;
}

ul{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}

li {
  display: inline-block;
  border: 2px solid #8b1919;
  width: 100px;
  height: 100px;
  vertical-align: top;
  border-radius: 0px;
}

.board {
  border: 0;
  z-index: 1000;

}

.two{
  position: relative;
  top: -995px;
  left: 5px;
  border: none;
  z-index: -1000;
}

#clear{
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #8b1919;
  color: #A9A9A9;
  box-shadow: 0px 5px 1px 0 #611111;

  top: -5px;
  cursor: pointer
}

.narrator {
  padding: 40px;
  font-size: 20px;
}

#clear:hover {
  top: 0;
  box-shadow: none;
}
