body{
  background: #B03A3A;      /*8b1919*/  
  font-family: "Papyrus";
  text-align: center;
  color:#D3D3D3;
}

main {
  margin: 0 auto;
  max-width: 960px;
}

h1{
  font-family:  "Papyrus";
  font-size: 50px;
}

h3 {
  padding-top: 115px;
}

ul{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}

p {
  padding-bottom: 60px;
}

.container {
  float: left;
  position: relative;
  margin: 40px auto;
  height: 500px;
  width:  500px;
  border: none;

}

.one li{
  display: inline-block;
  border: none;
  width: 50px;
  height: 50px;
  vertical-align: top;
  border-radius: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
  line-height: 50px;
}

.two li {
  display: inline-block;
  border: 2px solid #B03A3A;
  width: 50px;
  height: 50px;
  vertical-align: right;
  border-radius: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
 
  background-color:#696969; 
}

.one {
  z-index: 1000;
  position: absolute;
}

.two{
  position: absolute;
  top:26px;
  left: 26px;
  border: none;
  z-index: -1000;
  line-height: 0px;

}

#clear{
  font-family: "Papyrus";
  font-size: 25px;
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  background-color: #979797;    /*696969*/
  color: #D3D3D3;
  box-shadow: 0px 5px 1px 0 #611111;
  top: -5px;
  cursor: pointer;
  outline: none;
}

.narrator {
  text-align: center;
  padding: 40px;
  font-size: 20px;
  font-family: "Papyrus";
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: -100px;
}

#clear:hover {
  top: 0;
  box-shadow: none;
}

.board {
  background-repeat: no-repeat;
  background-position: center;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 640px) {
 one li{
   display: block;
  }

  two li {
    display: block;
  }
}